:root {
  background-color: antiquewhite;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Footer */
.footercontainer{
    background-color: antiquewhite;
    background-size: cover;
    min-height: 350px;
    background-repeat: no-repeat;
    text-align: center;
}
.footerheader{
    color: grey;
    font-weight:bold;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footermenu{
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
}
  
.footercreatedby{
    display:flex;
    justify-content:center;
    color:grey;
    
}
  
.Fes-31{
    font-weight:bold;
    color:grey;
  }

.footermenu a {
    color:#663B36;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 15px;
}

.footermenu a:hover{
    color:#eb6d2f;
}

.outer_bDW:hover{
    color:green;
}

.Fes-31:hover{
    color:#eb6d2f;
    transition: 01s ease-out;
}

/* Menu */ 
nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #e66f00;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

.navbar .logo a
{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 55px;
    left: 0;
    line-height: 40px;
    background: #f86024;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }

  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #e66f00;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #e66f00;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #e66f00;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }

/* Logo */
.bannerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.banner-h1 {
    color:#BD4932;
    text-align: center;
}

/* Content */
#content-p {
    color:#ff2c01;
    font-size: 32px;
}

/* Calc */
.tblCalc{
    border:1px solid gray;
    margin:0;
    padding:0;
    width:250px;
    text-align:center;
}
.tblCalc input{
    border:1px solid gray;
    width:30px;
    margin:4px;
}
    #btnWide{
    width:80px;
}
#editWide{
    width:250px;
}
